<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>后台页面</title>
	<link rel="stylesheet" href="__STATIC__/admin/css/bootstrap.min.css">
	<link rel="stylesheet" href="__STATIC__/admin/css/bootstrap-theme.css">
	<link rel="stylesheet" href="__STATIC__/admin/css/public.css">
	<script src="__STATIC__/admin/js/jquery-3.2.1.min.js"></script>
	<script src="__STATIC__/admin/js/bootstrap.min.js"></script>
	<style>
		
	</style>
</head>
<body>
	<!-- header -->
	{include file="public/header"/}
	<!-- /header -->
	<div class="container-fluid" style="padding-left: 0;height: 100%;">
	<!-- nav -->
	{include file="public/nav"/}
	<!-- /nav -->
	<!-- content panel -->
		<div class="col-md-10 " >
				<h3 class="page-header">学生详细信息</h3>
				<div>
					<form action="">
						<table>
							<thead>
								<th></th>
								<th></th>
								<th></th>
							</thead>
							<tbody>
								<tr>
									<td>学号：</td>
									<td>14101214</td>
									<td></td>
								</tr>
								<tr>
									<td>姓名：</td>
									<td>黄淑宁</td>
									<td></td>
								</tr>
								<tr>
									<td>身份证号：</td>
									<td>230904199405271115</td>
									<td></td>
								</tr>
								<tr>
									<td>联系电话：</td>
									<td>15636316713</td>
									<td></td>
								</tr>
								
							</tbody>
						</table>


					</form>
				</div>

			</div>
	<!-- /content panel -->
	</div>

</body>
</html>