<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta charset="UTF-8">
		<title>后台页面-通知管理</title>
		<link rel="stylesheet" href="__STATIC__/admin/css/bootstrap.min.css">
		<link rel="stylesheet" href="__STATIC__/admin/css/bootstrap-theme.css">
		<link rel="stylesheet" href="__STATIC__/admin/css/public.css">
		<script src="__STATIC__/admin/js/jquery-3.2.1.min.js"></script>
		<script src="__STATIC__/admin/js/bootstrap.min.js"></script>
		<style>

		</style>
	</head>

	<body>
		<!-- header -->
		{include file="../application/admin/view/public/header.html"/}
		<!-- /header -->
		<div class="container-fluid" style="padding-left: 0;height: 100%;">
			<!-- nav -->
			{include file="../application/admin/view/public/nav.html"/}
			<!-- /nav -->
			<!-- content panel -->
			<div class="col-md-10 ">
				<center>
					<h1>通 知 管 理</h1></center>

				<br />
			</div>
			<!--这里是下面的连接栏-->
			{include file="../application/admin/view/public/informnav.html"}

			<div class="col-md-6" style=" float: none;display: block;margin-left: auto;margin-right: auto;">

				<form action="" method="post">
					<table border="1" cellspacing="" cellpadding="" width="100%">
						<tr>
							<th width="30%"> </th>
							<th width="40%"> </th>
							<th width="30%"> </th>
						</tr>
						<tr>
							<td>请输入要添加的通知标题</td>
							<td colspan="2"><input type="text" name="i_name" id="i_name" style="width: 451px;" /></td>

						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>请输入要添加的通知内容</td>
							<td colspan="2">
								<textarea rows="10" cols="60" style="resize: none;"></textarea>
							</td>
						</tr>
						<tr>
							<td></td>
							<td colspan="2"><input type="submit" value="提交到数据库" /></td>
						</tr>
					</table>

				</form>

			</div>

			<!-- /content panel-->
		</div>

	</body>

</html>