<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>Owen欧文教育——课程介绍</title>
	<link rel="stylesheet" href="__STATIC__/index/css/bootstrap.min.css" >
	<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/public_css.css">
<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
	<link rel="stylesheet" href="__STATIC__/index/css/bootstrap-theme.min.css" >
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="__STATIC__/index/js/jquery-3.2.1.min.js"></script>
	<script src="__STATIC__/index/js/bootstrap.min.js" ></script>
</head>
<body>
	<div class="container-fluid">
	<!-- header -->
	{include file="public/header"/}
	<!-- /header -->
	<!-- course -->
	<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					欧文教育课程介绍 <small>2017-2018</small>
				</h1>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="https://media-image1.baydn.com/8d58c6ff460c015bcb20004b92e3d1828f5ea1fcb54ab86c1dd1b745aff2235f.png@90Q" />
						<div class="caption">
							<h3>
								四级临考课程
							</h3>
							<p>
								考前必学！70%考生在这些语法易错点上扣分。花1个小时临考冲刺，讲解+练习+强化记忆，让你绕开这些“坑”。
							</p>
							<p>
								 <a class="btn btn-primary" href="#">详细信息</a> 
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="https://media-image1.baydn.com/05cce7cdc0578ae9b00faddc90e2313e37a7275abd5b262e8aec79369924834b.png@90Q" />
						<div class="caption">
							<h3>
								雅思口语课程
							</h3>
							<p>
								讲解考试评分标准：发音、语法多样性及准确性、词汇多样性、流利性与连贯性，逐一分析雅思口语三个部分，搭建答题框架，丰富话题语言。
							</p>
							<p>
								 <a class="btn btn-primary" href="#">详细信息</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="https://media-image1.baydn.com/e04f5186e77c13e27727b4f67973b2d91af1145aad45a96c5d24b7be5726c510.png@90Q" />
						<div class="caption">
							<h3>
								雅思阅读课程
							</h3>
							<p>
								提升雅思阅读三大核心能力：词汇、句法、信息定位。了解四大题型，熟悉相应解题步骤方法，准确率与答题速度同步提高
							</p>
							<p>
								 <a class="btn btn-primary" href="#">详细信息</a> 
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<!-- /course -->


	<!-- footer -->
	{include file="public/footer"/}
	<!-- /footer -->
	</div>
</body>
</html>