<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>Owen欧文教育——人才招聘</title>
	<link rel="stylesheet" href="__STATIC__/index/css/bootstrap.min.css" >
	<link rel="stylesheet" href="__STATIC__/index/css/recruit.css" >

	<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/public_css.css">
<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
	<link rel="stylesheet" href="__STATIC__/index/css/bootstrap-theme.min.css" >
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="__STATIC__/index/js/jquery-3.2.1.min.js"></script>
	<script src="__STATIC__/index/js/bootstrap.min.js" ></script>
</head>
<body>
	<div class="container-fluid">
	<!-- header -->
	{include file="public/header"/}
	<!-- /header -->
	<!-- content -->
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
					<h1 class="page-header">
						寻找小伙伴&nbsp;<small>加入我们吧！</small>
					</h1>
			</div>
			<div class="col-md-9 column">
				<div class="recruit-table">
					<div class="alert alert-dismissable alert-danger"><h4 >职位列表</h4></div>
					<table class="table table-striped">
						<thead>
							<tr>
								<th class="table-one" style="width: 60%">
									职位名称
								</th>
								<th style="width: 5%">
									人数
								</th>
								<th style="width: 10%">
									发布时间
								</th>
								<th style="width: 10%;">
									地点
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="table-one">
									<a href="">英语讲师</a>
								</td>
								<td>
									1
								</td>
								<td>
									01/04/2012
								</td>
								<td>
									欧文教育
								</td>
							</tr>
							<tr class="">
								<td class="table-one">
									<a href="">数学讲师</a>
								</td>
								<td>
									1
								</td>
								<td>
									01/04/2012
								</td>
								<td>
									欧文教育
								</td>
							</tr>
							<tr class="">
								<td class="table-one">
									<a href="">保安</a>
								</td>
								<td>
									2
								</td>
								<td>
									02/04/2012
								</td>
								<td>
									欧文教育
								</td>
							</tr>
							<tr class="">
								<td class="table-one">
									<a href="">法语讲师</a>
								</td>
								<td>
									2
								</td>
								<td>
									03/04/2012
								</td>
								<td>
									欧文教育
								</td>
							</tr>
							<tr class="">
								<td class="table-one">
									<a href="">JAVA讲师</a>
								</td>
								<td>
									1
								</td>
								<td>
									04/04/2012
								</td>
								<td>
									欧文教育
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /content -->
	<!-- footer -->
	{include file="public/footer"/}
	<!-- /footer -->
	</div>
</body>
</html>