<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>Owen欧文教育——师资队伍</title>
	<link rel="stylesheet" href="__STATIC__/index/css/bootstrap.min.css" >
	<link rel="stylesheet" href="__STATIC__/index/css/teachersummary.css" >

	<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/public_css.css">
<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
	<link rel="stylesheet" href="__STATIC__/index/css/bootstrap-theme.min.css" >
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="__STATIC__/index/js/jquery-3.2.1.min.js"></script>
	<script src="__STATIC__/index/js/bootstrap.min.js" ></script>
</head>
<body>
	<div class="container-fluid">
	<!-- header -->
	{include file="public/header"/}
	<!-- /header -->
	<!-- content -->
	<!-- page header -->
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-1"></div>
			<div class="col-md-9 column">
					<h1 class="page-header">
						我们的小伙伴&nbsp;<small>讲师简介</small>
					</h1>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
	<!-- /page header -->
	<!-- teacher summary -->
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-1"></div>

			<div class="col-md-9">
				<div class="row">
 					 <div class="col-md-4">
   						<div class="thumbnail">
     						 <img class="teacher-img" src="http://p2.img.cctvpic.com/20100709/images/1278671727202_1278671727202_r.jpg" alt="讲师照片">
      						<div class="caption">
						        <h3>唐骏</h3>
						        <p>微创（中国）董事长</p>
						        <p>唐骏，是中国的著名职业经理人，曾留学日本和美国，有“打工皇帝”之称。他本科毕业于北京邮电大学，后前往日本名古屋大学深造取得工学硕士学位。</p>
					    	</div>
  						</div>
					</div>
					<div class="col-md-4">
   						<div class="thumbnail">
     						 <img class="teacher-img" src="http://i7.hexunimg.cn/2013-01-30/150744199.jpg" alt="讲师照片">
      						<div class="caption">
						        <h3>马云</h3>
						        <p>阿里巴巴集团创始人</p>
						        <p>马云，男，1964年9月10日生于浙江省杭州市，祖籍浙江省嵊州市（原嵊县）谷来镇， 阿里巴巴集团主要创始人，现担任阿里巴巴集团董事局主席、日本软银董事、大自然保护协会中国理事会主席兼全球董事会成员、华谊兄弟董事、生命科学突破奖基金会董事。</p>
					    	</div>
  						</div>
					</div>
					<div class="col-md-4">
   						<div class="thumbnail">
     						 <img class="teacher-img" src="http://www.fjsen.com/images/attachement/jpg/site1/2011-06-12/7113215385310246840.jpg" alt="讲师照片">
      						<div class="caption">
						        <h3>李彦宏</h3>
						        <p>百度创始人、董事长兼首席执行官</p>
						        <p>李彦宏，百度公司创始人、董事长兼首席执行官，全面负责百度公司的战略规划和运营管理。</p>
					    	</div>
  						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /teacher summary -->
	<!-- /content -->

	<!-- footer -->
	{include file="public/footer"/}
	<!-- /footer -->
	</div>
</body>
</html>