<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>Owen欧文教育——主页</title>
	<link rel="stylesheet" href="__STATIC__/index/css/bootstrap.min.css" >
	<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/public_css.css">
<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
	<link rel="stylesheet" href="__STATIC__/index/css/bootstrap-theme.min.css" >
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="__STATIC__/index/js/jquery-3.2.1.min.js"></script>
	<script src="__STATIC__/index/js/bootstrap.min.js" ></script>
<style type="text/css">
</style>
</head>
<body>
<div class="container-fluid">
<!-- header -->
{include file="public/header"/}
	<!-- /header -->
	<!-- welcome slogan -->
	<div class="container">
		<div class="row clearfix" name="article-one">
			<div class="col-md-12 column">
				<div class="jumbotron" name="home-jumbotron">
					<h1>
						Welcome to Owen.
					</h1>
					
					<p>
					</p>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- /welcome slogan -->
	<!-- image -->
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="carousel slide" id="carousel-849278" >
					<ol class="carousel-indicators">
						<li class="active" data-slide-to="0" data-target="#carousel-849278">
						</li>
						<li data-slide-to="1" data-target="#carousel-849278">
						</li>
						<li data-slide-to="2" data-target="#carousel-849278">
						</li>
					</ol>
					<div class="carousel-inner">
						<div class="item active">
							<img alt="" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/1600/500/sports/1/default.jpg" />
							<div class="carousel-caption">
								<h4>
									第一个图片的标题
								</h4>
								<p>
									第一个图片的内容
								</p>
							</div>
						</div>
						<div class="item">
							<img alt="" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/1600/500/sports/2/default.jpg" />
							<div class="carousel-caption">
								<h4>
									第二个图片的标题
								</h4>
								<p>
									第二个图片的内容
								</p>
							</div>
						</div>
						<div class="item">
							<img alt="" src="http://cqtimes.cn/Uploads/Picture/2016-09-12/01756c54-bcdd-492d-a8f2-c29e6e14390a.jpg" />
							<div class="carousel-caption">
								<h4>
									第三个图片的标题
								</h4>
								<p>
									第三个图片的内容
								</p>
							</div>
						</div>
					</div> <a class="left carousel-control" href="#carousel-849278" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-849278" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
				</div>
			</div>
			
		</div>
	</div>
	<!-- /image -->
	<!-- notice -->
	<div class="container" name="notice">
		<div class="row clearfix">
			<div class="col-md-5 column">
				<div class="tabbable" id="tabs-760947">
					<ul class="nav nav-tabs">
						<li>
							 <a href="#panel-787274" data-toggle="tab">公告</a>
						</li>
						<li class="active">
							 <a href="#panel-385929" data-toggle="tab">活动</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane" id="panel-787274">
							<ul>
								<li><a href="">关于申请新增硕士授予单位的公示</a></li>
								<li><a href="">黑龙江东方学院2017年公开招聘辅导员方案</a></li>
								<li><a href="">关于2017年端午节放假安排的通知</a></li>
								<li><a href="">关于关注黑龙江省教育厅官方政务微信平台的通知</a></li>
								<li><a href="">关于公开招聘新闻专业教师的通知</a></li>
								<li><a href="">关于2017年清明节、劳动节放假安排的通知</a></li>
							</ul>
						</div>
						<div class="tab-pane active" id="panel-385929">
							<ul>
								<li><a href="">省委常委、宣传部长张效廉到我院调研</a></li>
								<li><a href="">我院首届国际商务专业硕士研究生陈元春考取中国社科院博士</a></li>
								<li><a href="">我院召开西部计划、征兵及自主创业毕业生代表座谈会</a></li>
								<li><a href="">我院隆重举行2017届毕业生毕业典礼 孙和义院长亲切叮嘱：怀着一颗感恩的心走向</a></li>
								<li><a href="">我院隆重举行2017届毕业生毕业典礼 孙和义院长亲切叮嘱：怀着一颗感恩的心走向</a></li>
								<li><a href="">我院隆重举行纪念中国共产党成立96周年大会</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-6">
				<h2 class="page-header">每日一句</h2>
				<p>The more things you do, the more you can do.</p>
				<p>你做的事情越多，你能做的就越多。</p>
			</div>
		</div>
	</div>
	<!-- /notice -->
	<!-- footer -->
	{include file="public/footer"/}
<!-- /footer -->
</div>
</body>
</html>