<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>Owen欧文教育——学校概况</title>
	<link rel="stylesheet" href="__STATIC__/index/css/bootstrap.min.css" >
	<link rel="stylesheet" href="__STATIC__/index/css/schoolsummary.css" >

	<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/public_css.css">
<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
	<link rel="stylesheet" href="__STATIC__/index/css/bootstrap-theme.min.css" >
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="__STATIC__/index/js/jquery-3.2.1.min.js"></script>
	<script src="__STATIC__/index/js/bootstrap.min.js" ></script>
</head>
<body>
	<div class="container-fluid">
	<!-- header -->
	{include file="public/header"/}
	<!-- /header -->
	<div class="container">
		<!-- page header -->
		<div class="col-md-1"></div>
		<div class="col-md-10 column">
			<h1 class="page-header">
				学校简介&nbsp;<small>介绍一下我们</small>
			</h1>
					<!-- <div class="col-md-3"></div>
					<div class="col-md-9">
					<p class="text-summary">黑龙江东方学院是由孟新、尚鹤翔、周长源、刘世勤等老一辈教育工作者发起创办的一所普通本科高等学校，始建于1992年。是改革开放后黑龙江省第一所民办高校。
					学院历经20余载，筚路蓝缕、砥砺前行，实现了一个又一个的跨越：1993年招收全日制专科生；2000年招收本科生，并于2007年获得学士学位授予权；2010年，被黑龙江省政府确定为“特色应用型本科试点建设院校”；2011年10月，经国务院学位办批准，成为全国首批5所专业学位硕士研究生培养单位之一；2012年通过教育部本科教学工作合格评估；2014年成为全国首批35所应用技术大学联盟成员院校之一。2015年9月学院顺利完成省教育厅“特色应用型本科院校建设”项目验收工作。2017年获得“省级文明校园标兵”荣誉称号。
					学院将决策行政系统、党组织系统、学术系统和民主管理与民主监督系统有机融合构建成“四位一体”的法人治理结构，并把办学治校的权力和义务，分别配置于相应的治理主体之中，健全了决策、执行、保证、监督机制，初步实现了治理结构之间的协调配合与相互制衡。
					学院于2015年1月整体搬迁至哈南工业新城的新校区，校园占地面积59.3万平方米，建筑面积32.8万平方米，净资产已达12.5亿元，各类建筑现代宏伟，功能齐全，校园环境怡人；现有教学仪器和实验设备总价值7,178万元，建有180多个实验室和实训室，与国内外知名企业建立了83个实习实训基地。办学软硬件设施比较完备，办学条件优越。
					学院目前共设置9个学部，3个教研部，开设41个本科专业，2个专业学位硕士研究生培养类别，涵盖工、理、文、法、经、管、艺术7个学科门类。其中“农产品加工与储藏”为省级重点建设学科，“食品科学与工程”为省级重点专业。
					学院拥有一支专兼职结合的高素质教师队伍。现有专任教师671人，其中正、副教授332人，具有博士、硕士学位538人，具有行业背景或工程背景的“双师双能型”教师93人。其中自有专任教师352人，占教师总数的52.46%，其中具有硕士以上学位的教师308人，占比达到87.5%。在校本科生11674人，硕士研究生19人。
					办学特色
					学院建校20多年来，秉承“蒙以养正，学以致用”的校训，坚持“尊师厚德、包容奉献、创新求真、自强不息”的校风，致力于打造卓越的教育品牌，努力培养适应行业企业需求的应用型技术技能人才，形成了东方学院鲜明的办学特色。
					始终坚持非营利性办学方向
					学院办学不以营利为目的，全部经费收入都用于人才培养和学院的发展。学院章程明确规定：“东方学院的全部财产属于学院所有，任何单位和个人不得侵占。”学院的举办者不谋求任何形式的个人回报，不搞股份制，不搞家族治理，把学院的所有收入全部用于在教育事业的发展上。创办者在全校教职员工大会上郑重宣布：“对于东方学院的财产，我们及我们的后人绝不索取一分，也不接受任何形式的奖励回报。”他们放弃国家政策允许的数千万元巨额奖励，这种“捧着一颗心来，不带半棵草去”的高尚境界是东方人最宝贵的精神财富，由此凝炼形成的“立校为公、厚德树人”的东方精神，已经成为东方学院可持续发展不竭的精神动力。
					2013年，学院在全国非营利性民办高校联盟大会上被选举为联盟副主席单位。
					实行“教育家办学、教授治教”的办学体制
					学院实行“主任教授制”，把学术权力交给懂学术的人，充分听取主任教授在治学方面的建议，发挥他们在学科、专业和师资队伍建设中的主导作用，避免行政权力包揽一切，提高了办学的实力和水平。建校之初，学院聘请了6位德高望重的专家担任主任教授，正是依靠以他们为代表的一批专家学者办起了最早的几个专业，奠定了东方学院今天的发展基础。多年来，学院始终坚持这一办学特色，赢得了社会的良好声望。
					探索创新应用型技术技能人才的培养模式
					学院始终立足地方，面向行业企业需求，以毕业生就业为导向，以应用性专业建设为龙头，优化知识结构，强化校企合作、产学融合，注重学生的职业能力培养，为经济社会第一线培养高层次应用型人才。自建校以来，已为国家培养了34808名合格的毕业生。2011年5月，学院被教育部评为全国高校毕业生就业工作典型经验院校；2012年6月通过教育部本科教学工作合格评估。
					主要成果
					学院多年来紧紧围绕“培养应用型技术技能人才”这一中心任务，努力提升办学质量，形成了一系列突出的办学成果。
					加快专业调整，强化专业群建设，紧密对接区域经济产业链
					“十二•五”以来，学院围绕国家发展战略，立足区域经济支柱产业，调整传统专业或专业方向,力争专业的设置与区域经济转型升级过程中重点发展领域和紧缺急需人才紧密衔接。增设了10个为区域经济发展提供急需人才的专业；增设了3个专业方向；撤销了需求不旺的4个专业。对现有的41个专业优化整合，初步形成涵盖7个学科门类，以工为主、工管结合、文理渗透的7个专业群，每一个专业群都有主体服务面，构建了社会需求旺盛的专业设置构架，提升了为区域经济社会服务的整体实力。
					目前学院拥有，1个省级重点建设学科、1个省级重点专业、11个院级重点专业、3个优势特色专业、7个专业群；1个国家级工程实践教育中心、4个院级实验示范中心；1门省级精品课，14门院级优秀课程。
					持续推动校企深度融合，构筑联合培养的育人平台
					多年来，学院从人才培养实际出发，通过采取企业进校、课程置换、联合培养等措施，逐步扩大范围和深度融合，强化“政研校企”合作，现在已与83家企事业单位建立密切的合作育人机制，构筑起了应用型技术技能人才培养的联合平台。
					学院与世界500强之一的印度塔塔集团、美国万豪国际集团以及国内著名企业伊利集团签订校企合作协议，以课程置换的方式开办“塔塔班”、“万豪班”、“伊利班”；与凤凰卫视•凤凰教育集团、北京中关村软件园工程实践教育发展中心、哈工大机器人研究所、展达机器人自动化有限责任公司等企业合作共同培养企业所需人才；与国家乳业工程技术研究中心成立了联合乳品学院教学实体，合作培养本科及硕士专业学位研究生。“黑龙江东方学院──国家乳业工程技术研究中心工程实践教育中心”是国家级工程实践教育中心。
					坚持人才强校，打造“双师双能型”教师队伍
					学院根据学科专业发展需要，建成一支老中青搭配、专兼职结合，满足应用技术大学人才培养需要的“双师双能型”教师队伍。一是全面实施“东方百名领军人才”计划。二是制订了 “双师双能型”教师培养、认定和管理办法，努力提升教师的教学能力、科研能力、育人能力、服务社会能力；三是科学持续建设兼职教师资源库，目前兼职教师数据库已达到400余人，涵盖企业、行业和高校优秀人才。
					目前，学院拥有1个省级教学团队，10个校级优秀教学团队；有1位国家级教学名师，3位省级教学名师，18位省师德标兵，22位学院师德标兵。广大教师积极参加教学研究，获省教学成果一等奖1项、二等奖2项、学院教学成果奖20项。
					以专业学位硕士研究生培养为突破口，提升应用型人才培养层次
					学院是全国首批具有专业学位硕士研究生培养资格的五所民办院校之一，培养“工程类别乳品工程与质量安全方向”和“国际商务类别对俄贸易方向”的专业学位硕士研究生。这既体现了相关行业对高层次应用型专业人才的迫切需求，也体现了学院在应用技术大学建设发展方面的理性要求与勇于担当。学院已有三届39名研究生顺利毕业，全部实现高质量就业，一次性就业达到了100%，专业对口就业率为82.5%。
					注重全面发展，创新了学生教育管理工作模式
					结合民办院校实际，创新性地实施了“一体两翼”的学生工作模式，由青年教师担任班主任，建立了学生党员责任区制度；加强校园文化建设，注重养成教育，设立了“养正大讲堂”，邀请国内外知名专家学者、社会名人、知名校友举办高层次学术文化活动；通过开展丰富的第二课堂活动，培养学生创新创业能力，学院获2016年“挑战杯”黑龙江省赛金奖1项、银奖7项、铜奖5项，是全省首所获得该项赛事金奖的民办高校。</p></div> -->
		</div>
		<div class="col-md-1"></div>
	</div>
	<!-- /page header -->
	<!-- text summary -->
	
	<!-- /text summary -->
	<!-- content -->
	<div class="container">
		<div class="row clearfix">
		<div class="col-md-1"></div>
		<div class="well col-md-10">


			<!-- first row -->
			
			<div class="col-md-12 margin-bottom">
				<div class="">
					<img class="sch-img margin-right float-left" src="http://pic2.ooopic.com/10/22/13/22b1OOOPICf9.jpg" alt="学校图片1">
				</div>	
				<div class=" float-left">
					<h3>图片名称</h3>
					<p >黑龙江东方学院是由孟新、尚鹤翔、周长源、刘世勤等老一辈教育工作者发起创办的一所普通本科高等学校，始建于1992年。是改革开放后黑龙江省第一所民办高校。
					学院历经20余载，筚路蓝缕、砥砺前行，实现了一个又一个的跨越：1993年招收全日制专科生；2000年招收本科生，并于2007年获得学士学位授予权；2010年，被黑龙江省政府确定为“特色应用型本科试点建设院校”；2011年10月，经国务院学位办批准，成为全国首批5所专业学位硕士研究生培养单位之一；2012年通过教育部本科教学工作合格评估；2014年成为全国首批35所应用技术大学联盟成员院校之一。2015年9月学院顺利完成省教育厅“特色应用型本科院校建设”项目验收工作。2017年获得“省级文明校园标兵”荣誉称号。
					学院将决策行政系统、党组织系统、学术系统和民主管理与民主监督系统有机融合构建成“四位一体”的法人治理结构，并把办学治校的权力和义务，分别配置于相应的治理主体之中，健全了决策、执行、保证、监督机制，初步实现了治理结构之间的协调配合与相互制衡。
					学院于2015年1月整体搬迁至哈南工业新城的新校区，校园占地面积59.3万平方米，建筑面积32.8万平方米，净资产已达12.5亿元，各类建筑现代宏伟，功能齐全，校园环境怡人；现有教学仪器和实验设备总价值7,178万元，建有180多个实验室和实训室，与国内外知名企业建立了83个实习实训基地。办学软硬件设施比较完备，办学条件优越。
					学院目前共设置9个学部，3个教研部，开设41个本科专业，2个专业学位硕士研究生培养类别，涵盖工、理、文、法、经、管、艺术7个学科门类。其中“农产品加工与储藏”为省级重点建设学科，“食品科学与工程”为省级重点专业。
					学院拥有一支专兼职结合的高素质教师队伍。现有专任教师671人，其中正、副教授332人，具有博士、硕士学位538人，具有行业背景或工程背景的“双师双能型”教师93人。其中自有专任教师352人，占教师总数的52.46%，其中具有硕士以上学位的教师308人，占比达到87.5%。在校本科生11674人，硕士研究生19人。</p>
				</div>
			</div>
			<!-- /first row -->
			<!-- second row -->
			<div class="col-md-12 margin-bottom">	
				<div class="">
					<img class="sch-img float-right" src="http://image87.360doc.com/DownloadImg/2015/07/2221/56323679_2.jpg" alt="学校图片1">
				</div>				
				<div class="float-left">
					<h3>图片名称</h3>
					<p >黑龙江东方学院是由孟新、尚鹤翔、周长源、刘世勤等老一辈教育工作者发起创办的一所普通本科高等学校，始建于1992年。是改革开放后黑龙江省第一所民办高校。
					学院历经20余载，筚路蓝缕、砥砺前行，实现了一个又一个的跨越：1993年招收全日制专科生；2000年招收本科生，并于2007年获得学士学位授予权；2010年，被黑龙江省政府确定为“特色应用型本科试点建设院校”；2011年10月，经国务院学位办批准，成为全国首批5所专业学位硕士研究生培养单位之一；2012年通过教育部本科教学工作合格评估；2014年成为全国首批35所应用技术大学联盟成员院校之一。2015年9月学院顺利完成省教育厅“特色应用型本科院校建设”项目验收工作。2017年获得“省级文明校园标兵”荣誉称号。
					学院将决策行政系统、党组织系统、学术系统和民主管理与民主监督系统有机融合构建成“四位一体”的法人治理结构，并把办学治校的权力和义务，分别配置于相应的治理主体之中，健全了决策、执行、保证、监督机制，初步实现了治理结构之间的协调配合与相互制衡。
					学院于2015年1月整体搬迁至哈南工业新城的新校区，校园占地面积59.3万平方米，建筑面积32.8万平方米，净资产已达12.5亿元，各类建筑现代宏伟，功能齐全，校园环境怡人；现有教学仪器和实验设备总价值7,178万元，建有180多个实验室和实训室，与国内外知名企业建立了83个实习实训基地。办学软硬件设施比较完备，办学条件优越。
					学院目前共设置9个学部，3个教研部，开设41个本科专业，2个专业学位硕士研究生培养类别，涵盖工、理、文、法、经、管、艺术7个学科门类。其中“农产品加工与储藏”为省级重点建设学科，“食品科学与工程”为省级重点专业。
					学院拥有一支专兼职结合的高素质教师队伍。现有专任教师671人，其中正、副教授332人，具有博士、硕士学位538人，具有行业背景或工程背景的“双师双能型”教师93人。其中自有专任教师352人，占教师总数的52.46%，其中具有硕士以上学位的教师308人，占比达到87.5%。在校本科生11674人，硕士研究生19人。</p>
				</div>
				
			</div>
			<!-- /second row -->
			<!-- third row -->
			<div class="col-md-12 margin-bottom">
				<div class="">
					<img class="sch-img margin-right float-left" src="http://mpic.tiankong.com/b83/db0/b83db0bfa44a40f66fe677278ebd1a9e/640.jpg?x-oss-process=image/resize,m_lfit,h_600,w_600/watermark,image_cXVhbmppbmcucG5n,t_90,g_ne,x_5,y_5" alt="学校图片1">
				</div>	
				<div class=" float-left">
					<h3>图片名称</h3>
					<p >黑龙江东方学院是由孟新、尚鹤翔、周长源、刘世勤等老一辈教育工作者发起创办的一所普通本科高等学校，始建于1992年。是改革开放后黑龙江省第一所民办高校。
					学院历经20余载，筚路蓝缕、砥砺前行，实现了一个又一个的跨越：1993年招收全日制专科生；2000年招收本科生，并于2007年获得学士学位授予权；2010年，被黑龙江省政府确定为“特色应用型本科试点建设院校”；2011年10月，经国务院学位办批准，成为全国首批5所专业学位硕士研究生培养单位之一；2012年通过教育部本科教学工作合格评估；2014年成为全国首批35所应用技术大学联盟成员院校之一。2015年9月学院顺利完成省教育厅“特色应用型本科院校建设”项目验收工作。2017年获得“省级文明校园标兵”荣誉称号。
					学院将决策行政系统、党组织系统、学术系统和民主管理与民主监督系统有机融合构建成“四位一体”的法人治理结构，并把办学治校的权力和义务，分别配置于相应的治理主体之中，健全了决策、执行、保证、监督机制，初步实现了治理结构之间的协调配合与相互制衡。
					学院于2015年1月整体搬迁至哈南工业新城的新校区，校园占地面积59.3万平方米，建筑面积32.8万平方米，净资产已达12.5亿元，各类建筑现代宏伟，功能齐全，校园环境怡人；现有教学仪器和实验设备总价值7,178万元，建有180多个实验室和实训室，与国内外知名企业建立了83个实习实训基地。办学软硬件设施比较完备，办学条件优越。
					学院目前共设置9个学部，3个教研部，开设41个本科专业，2个专业学位硕士研究生培养类别，涵盖工、理、文、法、经、管、艺术7个学科门类。其中“农产品加工与储藏”为省级重点建设学科，“食品科学与工程”为省级重点专业。
					学院拥有一支专兼职结合的高素质教师队伍。现有专任教师671人，其中正、副教授332人，具有博士、硕士学位538人，具有行业背景或工程背景的“双师双能型”教师93人。其中自有专任教师352人，占教师总数的52.46%，其中具有硕士以上学位的教师308人，占比达到87.5%。在校本科生11674人，硕士研究生19人。</p>
				</div>
			</div>
			<!-- /third row -->
			<!-- clear -->
			<div class="clear"></div>
			<!-- /clear -->
			
		</div>
		<div class="col-md-1"></div>
		</div>
	</div>
	<!-- /content -->

	<!-- footer -->
	{include file="public/footer"/}
	<!-- /footer -->
	</div>
</body>
</html>