<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>后台页面</title>
	<link rel="stylesheet" href="__STATIC__/admin/css/bootstrap.min.css">
	<link rel="stylesheet" href="__STATIC__/admin/css/bootstrap-theme.css">
	<link rel="stylesheet" href="__STATIC__/admin/css/public.css">
	<script src="__STATIC__/admin/js/jquery-3.2.1.min.js"></script>
	<script src="__STATIC__/admin/js/bootstrap.min.js"></script>
	<style>
		
	</style>
</head>
<body>
	<!-- header -->
	{include file="public/header"/}
	<!-- /header -->
	<div class="container-fluid" style="padding-left: 0;height: 100%;">
	<!-- nav -->
	{include file="public/nav"/}
	<!-- /nav -->
	<!-- content panel -->
		<div class="col-md-10 " >
				<h1>欢迎使用后台管理界面</h1>
			</div>
	<!-- /content panel -->
	</div>

</body>
</html>