
		<div  class="col-md-2 nav-style">
			<div><p style="font-size: 15px;text-align: center;" >这里是导航栏</p></div>
			<hr>
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title text-center">
							<a  data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
								网站管理
							</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse">
						<div class="panel-body text-center">
							<table style="width: 100%;">
								<tr>
									<td><a class="btn btn-default" href="#">通知管理</a></td>
								</tr>
								<tr>
									<td><a class="btn btn-default" href="#">课程管理</a></td>
								</tr>
								<tr>
									<td><a class="btn btn-default" href="#">人才招聘</a></td>
								</tr>
								<tr>
									<td><a class="btn btn-default" href="#">教师简介</a></td>
								</tr>
								<tr>
									<td><a class="btn btn-default" href="#">招生管理</a></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title text-center">
							<a data-toggle="collapse" data-parent="#accordion" 
							   href="#collapseTwo">
								学员管理
							</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse">
						<div class="panel-body text-center">
							<table style="width: 100%;">
								<tr>
									<td><a class="btn btn-default" href="{:url('admin/addstudent/index')}">添加学生信息</a></td>
								</tr>
								<tr>
									<td><a class="btn btn-default" href="{:url('admin/index/searchStudent')}">查询学生信息</a></td>
								</tr>
								
							</table>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title text-center">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
								讲师管理					
							</a>
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse">
						<div class="panel-body text-center">
							<table style="width: 100%;">
								<tr>
									<td><a class="btn btn-default" href="{:url('admin/addteacher/index')}">添加讲师信息</a></td>
								</tr>
								<tr>
									<td><a class="btn btn-default" href="{:url('admin/searchteacher/index')}">查询讲师信息</a></td>
								</tr>
								
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
