<div class="container">
	<div class="row clearfix">

		<div class="col-md-12 column">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header col-md-4">
						<h2 class="text-info" name="logo">Owen欧文 
							<small>教育</small>
						</h2>
					</div>

					<div class="collapse navbar-collapse" name="navbar">
						<ul class="nav nav-pills ">
							<li>
								<a href="{:url('index/index/index')}">主页</a>
							</li>
							<li>
								<a href="{:url('index/index/schoolsummary')}">学校概况</a>
							</li>

							<li>
								<a href="{:url('index/index/teachersummary')}">师资队伍</a>
							</li>

							<li>
								<a href="{:url('index/index/coursesummary')}">课程介绍</a>
							</li>

							<li>
								<a href="{:url('index/index/enroll')}">招生报名</a>
							</li>

							<li>
								<a href="{:url('index/index/recruit')}">人才招聘</a>
							</li>
							<li>

								<button class="btn btn-primary dropdown-toggle" name="login-button">
										<a href="{:url('index/index/login')}" class="login-href">登录</a> 
									</button>

							</li>
							<li>
								<div class="dropdown">
									<button class="btn btn-warning" data-toggle="dropdown" name="register-button">
										注册<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li>
											<a href="{:url('index/index/studentregister')}">学员注册</a>
										</li>
										<li>
											<a href="{:url('index/index/teacherregister')}">教师注册</a>
										</li>
									</ul>
								</div>
							</li>

						</ul>
					</div>

				</div>

			</nav>
		</div>
	</div>
</div>